if SHIELD_XIAO_TP

config ZMK_KEYBOARD_NAME
    default "XIAO TrackPoint"

config ZMK_POINTING
    default y

config MOUSE_PS2
    default y

config MOUSE_PS2_UART
    default y

endif # SHIELD_XIAO_TP
